[Desktop Entry]
Name=SimpleTuxSplash-Plasma6
Comment=Custom splash for ArchISO
Type=Service
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=SimpleTuxSplash-Plasma6
